.version.index /* version checker */
{
	color: #00001B;
	background-color: #332A4C;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	border-color: transparent;
	margin-left: auto;
	border-width: 0px;
	width: 100%;
	margin-right: auto;
	background-image: none;
	z-index: 1;
}

#u116
{
	position: fixed;
	background-color: #333333;
	z-index: 18;
}

#u116-bw
{
	z-index: 18;
}

#u212
{
	background-color: transparent;
	margin-left: -580px;
	position: fixed;
	left: 50%;
	width: 188px;
	z-index: 19;
}

#pu116,#pu1363
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1363
{
	border-width: 0px;
	background-color: transparent;
	border-color: transparent;
	z-index: 2;
	min-height: 978px;
}

#u1363-bw
{
	z-index: 2;
	min-height: 978px;
}

#u1411
{
	background-color: #FFFFFF;
	z-index: 58;
}

#u1411_align_to_page
{
	padding-bottom: 10px;
	margin-left: auto;
	position: relative;
	margin-bottom: -7px;
	margin-right: auto;
}

#sec_1
{
	left: 389px;
	position: relative;
}

#u2002-6
{
	font-size: 26px;
	line-height: 31px;
	font-family: ubuntu, sans-serif;
	position: relative;
	text-align: center;
	font-weight: 300;
	z-index: 59;
	min-height: 30px;
}

.h1
{
	background-color: transparent;
	border-width: 0px;
	border-color: #000000;
}

#u2002-2
{
	color: #0071BC;
	font-weight: 400;
}

#u2692-4
{
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	position: relative;
	text-align: center;
	line-height: 31px;
	font-size: 26px;
	font-weight: 300;
	z-index: 97;
	min-height: 30px;
}

#u2707-4
{
	color: #649CBC;
	font-family: ubuntu, sans-serif;
	position: relative;
	text-align: center;
	line-height: 31px;
	font-size: 26px;
	font-weight: 300;
	z-index: 103;
	min-height: 30px;
}

#u2499
{
	color: #FFFFFF;
	width: 120px;
	border-radius: 200px;
	position: relative;
	border-width: 0px;
	background-color: #649CBC;
	left: 269px;
	line-height: 84px;
	border-color: transparent;
	margin-right: -10000px;
	font-size: 70px;
	z-index: 65;
	min-height: 120px;
}

#u2500
{
	color: #FFFFFF;
	width: 120px;
	border-radius: 200px;
	position: relative;
	border-width: 0px;
	background-color: #649CBC;
	left: 539px;
	line-height: 84px;
	border-color: transparent;
	margin-right: -10000px;
	font-size: 70px;
	z-index: 66;
	min-height: 120px;
}

#pu2499,#pu2502-4
{
	width: 100%;
	position: relative;
}

#u2502-4
{
	left: 200px;
	width: 260px;
	font-family: ubuntu, sans-serif;
	position: relative;
	letter-spacing: 0px;
	text-align: center;
	background-color: transparent;
	line-height: 25px;
	margin-right: -10000px;
	font-size: 21px;
	font-weight: 300;
	z-index: 68;
	min-height: 69px;
}

#u2503-4
{
	left: 470px;
	width: 260px;
	font-family: ubuntu, sans-serif;
	position: relative;
	letter-spacing: 0px;
	text-align: center;
	background-color: transparent;
	line-height: 25px;
	margin-right: -10000px;
	font-size: 21px;
	font-weight: 300;
	z-index: 72;
	min-height: 69px;
}

#u2533
{
	color: #FFFFFF;
	width: 120px;
	border-radius: 200px;
	position: relative;
	border-width: 0px;
	background-color: #649CBC;
	left: 269px;
	line-height: 84px;
	border-color: transparent;
	margin-right: -10000px;
	font-size: 70px;
	z-index: 80;
	min-height: 120px;
}

#u2534
{
	color: #FFFFFF;
	width: 120px;
	border-radius: 200px;
	position: relative;
	border-width: 0px;
	background-color: #649CBC;
	left: 539px;
	line-height: 84px;
	border-color: transparent;
	margin-right: -10000px;
	font-size: 70px;
	z-index: 81;
	min-height: 120px;
}

#pu2533,#pu2536-4
{
	width: 100%;
	margin-top: 17px;
	position: relative;
}

#u2536-4
{
	left: 200px;
	width: 260px;
	font-family: ubuntu, sans-serif;
	position: relative;
	letter-spacing: 0px;
	text-align: center;
	background-color: transparent;
	line-height: 25px;
	margin-right: -10000px;
	font-size: 21px;
	font-weight: 300;
	z-index: 83;
	min-height: 69px;
}

#u2537-4
{
	left: 470px;
	width: 260px;
	font-family: ubuntu, sans-serif;
	position: relative;
	letter-spacing: 0px;
	text-align: center;
	background-color: transparent;
	line-height: 25px;
	margin-right: -10000px;
	font-size: 21px;
	font-weight: 300;
	z-index: 87;
	min-height: 69px;
}

#u1411-bw
{
	margin-top: -7px;
	z-index: 58;
}

#u1443
{
	background-color: #404040;
	z-index: 95;
}

#u1443_align_to_page
{
	margin-left: auto;
	position: relative;
	margin-right: auto;
}

#lp
{
	left: 253px;
	position: relative;
}

#u1443-bw
{
	z-index: 95;
}

#u2706
{
	background-color: #FFFFFF;
	z-index: 102;
}

#u2706-bw
{
	z-index: 102;
}

#pbuttonu441
{
	margin-right: -10000px;
	margin-left: 20px;
}

#buttonu441
{
	background-color: transparent;
	border-color: #787878;
	position: fixed;
	left: 20px;
	z-index: 108;
}

#u451
{
	background-color: transparent;
	margin-right: -10000px;
	width: 100%;
	z-index: 109;
	position: relative;
}

#buttonu494
{
	background-color: transparent;
	border-color: #787878;
	position: fixed;
	left: 20px;
	z-index: 111;
}

#u495
{
	background-color: transparent;
	margin-right: -10000px;
	width: 100%;
	z-index: 112;
	position: relative;
}

#buttonu522
{
	background-color: transparent;
	border-color: #787878;
	position: fixed;
	left: 20px;
	z-index: 114;
}

#u523
{
	background-color: transparent;
	margin-right: -10000px;
	width: 100%;
	z-index: 115;
	position: relative;
}

#buttonu549
{
	background-color: transparent;
	border-color: #787878;
	position: fixed;
	left: 20px;
	z-index: 117;
}

#u550
{
	background-color: transparent;
	margin-right: -10000px;
	width: 100%;
	z-index: 118;
	position: relative;
}

#buttonu586
{
	background-color: transparent;
	border-color: #787878;
	position: fixed;
	left: 20px;
	z-index: 120;
}

#buttonu441:hover,#buttonu441.ButtonSelected,#buttonu494:hover,#buttonu494.ButtonSelected,#buttonu522:hover,#buttonu522.ButtonSelected,#buttonu549:hover,#buttonu549.ButtonSelected,#buttonu586:hover,#buttonu586.ButtonSelected
{
	min-height: 0px;
	margin: 0px;
}

#u587
{
	background-color: transparent;
	margin-right: -10000px;
	width: 100%;
	z-index: 121;
	position: relative;
}

#buttonu441:hover #u451,#buttonu441.ButtonSelected #u451,#buttonu494:hover #u495,#buttonu494.ButtonSelected #u495,#buttonu522:hover #u523,#buttonu522.ButtonSelected #u523,#buttonu549:hover #u550,#buttonu549.ButtonSelected #u550,#buttonu586:hover #u587,#buttonu586.ButtonSelected #u587
{
	width: 100%;
	min-height: 0px;
	margin: 0px -10000px 0px 0%;
}

#u2644
{
	background-color: transparent;
	left: -50%;
	border-color: transparent;
	position: relative;
	border-width: 0px;
}

#u2644_position_content
{
	width: 100%;
	padding-bottom: 713px;
	margin-top: -421px;
}

#u195-4
{
	left: -50%;
	font-family: ubuntu, sans-serif;
	position: relative;
	color: #FFFFFF;
	text-align: center;
	background-color: transparent;
	line-height: 31px;
	width: 100%;
	font-size: 26px;
	font-weight: 300;
	min-height: 54px;
}

#u195-4-wrapper
{
	left: 50%;
	position: fixed;
	z-index: 7;
}

#u1370
{
	background-color: transparent;
	position: relative;
	left: -50%;
	width: 100%;
}

#u451_img,#u1370_img
{
	width: 100%;
}

#u1370-wrapper
{
	left: 50%;
	position: fixed;
	top: 421px;
	z-index: 11;
}

#buttonu2600
{
	border-style: solid;
	background-color: transparent;
	left: -50%;
	padding-bottom: 10px;
	border-color: #FFFFFF;
	position: relative;
	border-width: 1px;
	width: 100%;
	border-radius: 10px;
}

#buttonu2600:hover
{
	background-color: #545454;
	width: 100%;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-height: 0px;
}

#buttonu2600.ButtonSelected
{
	background-color: transparent;
	width: 100%;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-height: 0px;
}

#u2602-4
{
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	position: relative;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 15px;
	background-color: transparent;
	line-height: 20px;
	margin-right: -10000px;
	font-size: 17px;
	font-weight: 300;
	z-index: 14;
	min-height: 23px;
}

#buttonu2600:hover #u2602-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2600:hover #u2602-4,#buttonu2600.ButtonSelected #u2602-4
{
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 23px;
	margin: 15px -10000px 0px 0%;
}

#buttonu2600-wrapper
{
	left: 50%;
	position: fixed;
	top: 663px;
	z-index: 13;
}

#u2644-wrapper
{
	left: 50%;
	position: fixed;
	top: 421px;
	z-index: 6;
}

#style
{
	left: 296px;
	position: relative;
}

#u2338
{
	left: -50%;
	position: relative;
	width: 100%;
}

#u2338_img
{
	display: block;
	vertical-align: top;
}

#u2338-wrapper
{
	left: 50%;
	position: fixed;
	top: 874px;
	z-index: 3;
}

#u1844
{
	background-color: transparent;
	padding-bottom: 42px;
	border-color: transparent;
	position: fixed;
	border-width: 0px;
	width: 42px;
	top: 17px;
	z-index: 21;
}

#u1535
{
	display: block;
	position: fixed;
	top: 17px;
	vertical-align: top;
	z-index: 22;
}

#pamphletu1537
{
	position: fixed;
	width: 0.01px;
	top: 20px;
	z-index: 24;
	height: 35px;
}

#u1558
{
	width: 41px;
	margin-right: -10000px;
	z-index: 25;
	position: relative;
}

#u1559
{
	background-color: #3F454C;
	opacity: 0;
	border-color: #DEDEDE;
	position: absolute;
	width: 41px;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	height: 35px;
}

#u1559:hover
{
	opacity: 0.27;
	border-radius: 0px;
	min-height: 0px;
	background-color: #323232;
	filter: alpha(opacity=27);
	border-color: #DEDEDE;
	width: 41px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=27)";
	height: 35px;
	margin: 0px;
}

#u1538
{
	left: -324px;
	padding-bottom: 44px;
	border-color: transparent;
	position: absolute;
	border-width: 0px;
	width: 397px;
	top: -16px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1538popup
{
	z-index: 27;
}

#u1539
{
	left: 22px;
	opacity: 0.81;
	border-width: 0px;
	position: relative;
	padding-top: 102px;
	width: 353px;
	padding-bottom: 181px;
	background-color: transparent;
	filter: alpha(opacity=81);
	border-color: transparent;
	margin-right: -10000px;
	top: 22px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	z-index: 28;
	height: 324px;
}

#pu1548-4
{
	width: 0.01px;
	margin-left: 72px;
}

#u1548-4
{
	color: #F4F4F4;
	width: 202px;
	font-family: raleway, sans-serif;
	position: relative;
	left: 9px;
	text-align: center;
	margin-top: 9px;
	background-color: transparent;
	line-height: 25px;
	margin-right: -10000px;
	font-size: 21px;
	font-weight: 200;
	z-index: 29;
	min-height: 21px;
}

#u1548-4:hover
{
	width: 202px;
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 21px;
	margin: 9px -10000px 0px 0px;
}

#u1549
{
	margin-right: -10000px;
	display: block;
	vertical-align: top;
	z-index: 45;
	position: relative;
}

#pu1547-4
{
	width: 0.01px;
	margin-top: 56px;
	margin-left: 45px;
}

#u1547-4
{
	color: #F4F4F4;
	width: 255px;
	font-family: raleway, sans-serif;
	position: relative;
	text-align: center;
	margin-top: 4px;
	background-color: transparent;
	line-height: 25px;
	margin-right: -10000px;
	font-size: 21px;
	font-weight: 200;
	z-index: 33;
	min-height: 21px;
}

#u1547-4:hover
{
	width: 255px;
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 21px;
	margin: 4px -10000px 0px 0px;
}

#u1540
{
	left: 27px;
	display: block;
	position: relative;
	margin-right: -10000px;
	vertical-align: top;
	z-index: 47;
}

#pu1546-4
{
	width: 0.01px;
	margin-top: 55px;
	margin-left: 54px;
}

#u1546-4
{
	color: #F4F4F4;
	width: 255px;
	font-family: raleway, sans-serif;
	position: relative;
	text-align: center;
	margin-top: 9px;
	background-color: transparent;
	line-height: 25px;
	margin-right: -10000px;
	font-size: 21px;
	font-weight: 200;
	z-index: 37;
	min-height: 26px;
}

#u1546-4:hover
{
	width: 255px;
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 26px;
	margin: 9px -10000px 0px 0px;
}

#u1544
{
	left: 13px;
	display: block;
	position: relative;
	margin-right: -10000px;
	vertical-align: top;
	z-index: 49;
}

#pu1551-4
{
	width: 0.01px;
	margin-top: 53px;
	margin-left: 51px;
}

#u1551-4
{
	color: #F4F4F4;
	width: 255px;
	font-family: raleway, sans-serif;
	position: relative;
	text-align: center;
	margin-top: 4px;
	background-color: transparent;
	line-height: 25px;
	margin-right: -10000px;
	font-size: 21px;
	font-weight: 200;
	z-index: 41;
	min-height: 42px;
}

#u1551-4:hover
{
	width: 255px;
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 42px;
	margin: 4px -10000px 0px 0px;
}

#u1548-4:hover p,#u1547-4:hover p,#u1546-4:hover p,#u1551-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1542
{
	left: 23px;
	display: block;
	position: relative;
	margin-right: -10000px;
	vertical-align: top;
	z-index: 51;
}

#u1554
{
	border-style: solid;
	background-color: transparent;
	left: 15px;
	padding-bottom: 5px;
	border-color: #F4F4F4;
	position: absolute;
	border-width: 1px;
	width: 50px;
	top: 10px;
	border-radius: 2100px;
}

#u1554:hover
{
	background-color: #C8C8C8;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u1555-4
{
	color: #F4F4F4;
	margin-right: -10000px;
	font-family: raleway, sans-serif;
	position: relative;
	border-width: 0px;
	text-align: center;
	margin-top: -1px;
	background-color: transparent;
	left: 15px;
	line-height: 46px;
	border-color: transparent;
	width: 20px;
	font-size: 33px;
	font-weight: 200;
	z-index: 54;
	min-height: 46px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton
{
	cursor: pointer;
}

#u2501
{
	color: #FFFFFF;
	width: 120px;
	border-radius: 200px;
	position: relative;
	border-width: 0px;
	background-color: #649CBC;
	line-height: 84px;
	border-color: transparent;
	font-size: 70px;
	z-index: 67;
	min-height: 120px;
}

#u2504-4
{
	width: 260px;
	font-family: ubuntu, sans-serif;
	position: relative;
	letter-spacing: 0px;
	text-align: center;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	font-weight: 300;
	z-index: 76;
	min-height: 69px;
}

#u2535
{
	color: #FFFFFF;
	width: 120px;
	border-radius: 200px;
	position: relative;
	border-width: 0px;
	background-color: #649CBC;
	line-height: 84px;
	border-color: transparent;
	font-size: 70px;
	z-index: 82;
	min-height: 120px;
}

#u2538-4
{
	width: 260px;
	font-family: ubuntu, sans-serif;
	position: relative;
	letter-spacing: 0px;
	text-align: center;
	background-color: transparent;
	line-height: 25px;
	font-size: 21px;
	font-weight: 300;
	z-index: 91;
	min-height: 69px;
}

#u1898
{
	background-color: transparent;
	margin-right: -10000px;
	border-color: transparent;
	margin-top: 344px;
	position: relative;
	border-width: 0px;
	width: 100px;
	left: 1080px;
	z-index: 5;
	min-height: 25px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 801px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1573px;
		max-width: 1200px;
	}

	#pu116
	{
		padding-bottom: 80px;
	}

	#u116
	{
		height: 80px;
		top: 0px;
	}

	#u212
	{
		top: 20px;
	}

	#pu1363
	{
		padding-bottom: 0px;
	}

	#u1411_align_to_page
	{
		max-width: 1200px;
	}

	#pu2499
	{
		margin-top: 70px;
	}

	#pu2502-4
	{
		margin-top: 16px;
	}

	#u2501,#u2535
	{
		margin-right: -10000px;
		left: 812px;
	}

	#u2536-4,#u2537-4
	{
		margin-top: 1px;
	}

	#u2504-4,#u2538-4
	{
		margin-right: -10000px;
		left: 740px;
	}

	#u1411,#u1411-bw
	{
		min-height: 562px;
	}

	#u1443_align_to_page
	{
		max-width: 1200px;
		padding-top: 4px;
		padding-bottom: 543px;
		margin-bottom: -1px;
	}

	#u1443-bw
	{
		min-height: 600px;
		margin-top: -1px;
	}

	#u2706_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 1200px;
		padding-top: 6px;
		padding-bottom: 542px;
	}

	#u2002-6,#u2692-4,#u2707-4
	{
		margin-top: 4px;
		width: 96.67%;
		left: 1.67%;
	}

	#u1443,#u2706,#u2706-bw
	{
		min-height: 600px;
	}

	#pbuttonu441
	{
		padding-bottom: 348px;
		margin-top: 302px;
		width: 6.42%;
	}

	#buttonu441
	{
		top: 302px;
		width: 5.84%;
		max-width: 70px;
	}

	#buttonu441:hover
	{
		width: 5.84%;
		max-width: 70px;
	}

	#buttonu441.ButtonSelected
	{
		width: 5.84%;
		max-width: 70px;
	}

	#buttonu494
	{
		top: 367px;
		width: 6.42%;
		max-width: 77px;
	}

	#buttonu494:hover
	{
		width: 6.42%;
		max-width: 77px;
	}

	#buttonu522
	{
		top: 438px;
		width: 6.42%;
		max-width: 77px;
	}

	#buttonu494.ButtonSelected,#buttonu522:hover
	{
		width: 6.42%;
		max-width: 77px;
	}

	#buttonu549
	{
		top: 508px;
		width: 6.42%;
		max-width: 77px;
	}

	#buttonu522.ButtonSelected,#buttonu549:hover
	{
		width: 6.42%;
		max-width: 77px;
	}

	#u495_img,#u523_img,#u550_img
	{
		padding-right: 7px;
		width: 90.91%;
	}

	#buttonu586
	{
		top: 578px;
		width: 6.42%;
		max-width: 77px;
	}

	#buttonu549.ButtonSelected,#buttonu586:hover
	{
		width: 6.42%;
		max-width: 77px;
	}

	#buttonu586.ButtonSelected
	{
		width: 6.42%;
		max-width: 77px;
	}

	#u587_img
	{
		padding-right: 7px;
		padding-bottom: 7px;
		width: 90.91%;
	}

	#pu2338
	{
		padding-bottom: 498px;
		margin-right: -10000px;
		margin-top: 421px;
		margin-left: 328px;
		width: 45.34%;
	}

	#u2338
	{
		-webkit-transform: matrix(0,1,-1,0,44,0);
		-ms-transform: matrix(0,1,-1,0,44,0);
		transform: matrix(0,1,-1,0,44,0);
		margin-left: 22.235294117647072px;
		max-width: 44px;
	}

	#u2338_img
	{
		width: 100%;
	}

	#u2338-wrapper
	{
		margin-left: -22px;
		width: 3.67%;
		max-width: 44px;
	}

	#u2644
	{
		margin-left: 272px;
		width: 100%;
		max-width: 544px;
	}

	#u1370
	{
		margin-left: 255.5px;
		max-width: 511px;
	}

	#u1370-wrapper
	{
		margin-left: -256px;
		width: 42.59%;
		max-width: 511px;
	}

	#u195-4
	{
		margin-left: 272px;
		max-width: 544px;
	}

	#u195-4-wrapper
	{
		top: 563px;
		margin-left: -272px;
		width: 45.34%;
		max-width: 544px;
	}

	#buttonu2600
	{
		margin-left: 116px;
		max-width: 230px;
	}

	#buttonu2600:hover
	{
		margin-left: 116px;
		max-width: 230px;
	}

	#buttonu2600.ButtonSelected
	{
		margin-left: 116px;
		max-width: 230px;
	}

	#u2602-4
	{
		width: 100.44%;
		left: 0.44%;
	}

	#buttonu2600:hover #u2602-4
	{
		width: 100.44%;
	}

	#buttonu2600.ButtonSelected #u2602-4
	{
		width: 100.44%;
	}

	#buttonu2600-wrapper
	{
		margin-left: -116px;
		width: 19.17%;
		max-width: 230px;
	}

	#u2644-wrapper
	{
		margin-left: -272px;
		width: 45.34%;
		max-width: 544px;
	}

	#u1844,#u1535,#pamphletu1537
	{
		left: 50%;
		margin-left: 538px;
	}

	#u1538
	{
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
	}

}

@media (max-width: 800px)
{
	#muse_css_mq
	{
		background-color: #000320;
	}

	#bp_800.active
	{
		display: block;
	}

	#page
	{
		min-height: 240px;
		max-width: 800px;
	}

	#pu116
	{
		padding-bottom: 60px;
		margin-top: -62px;
		margin-left: -180px;
	}

	#u116
	{
		height: 60px;
		top: -62px;
	}

	#u212
	{
		top: -52px;
	}

	#pu1363
	{
		padding-bottom: 1px;
	}

	#u1411
	{
		min-height: 561.5999999999995px;
		padding-bottom: 0px;
	}

	#pu2002-6
	{
		margin-top: 4px;
		position: relative;
		width: 100%;
	}

	#u2002-6
	{
		margin-right: -10000px;
		width: 96.63%;
		left: 1.63%;
	}

	#u2692-4
	{
		margin-right: -10000px;
		margin-top: 10px;
		width: 96.63%;
		left: 2.88%;
	}

	#u2707-4
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 96.63%;
		left: 4.13%;
	}

	#pu2499
	{
		margin-top: 50px;
	}

	#u1411-bw
	{
		min-height: 561.5999999999995px;
	}

	#pu1443
	{
		width: 0.01px;
		margin-top: -1px;
	}

	#u1443
	{
		min-height: 22px;
		padding-bottom: 578px;
	}

	#u1411_align_to_page,#u1443_align_to_page
	{
		max-width: 800px;
	}

	#lp
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 4px;
	}

	#u1443-bw
	{
		min-height: 22px;
	}

	#u2706
	{
		height: 600px;
	}

	#u2706-bw
	{
		margin-top: 10px;
		height: 600px;
	}

	#pbuttonu441
	{
		padding-bottom: 324px;
		margin-top: 144px;
		width: 6.38%;
	}

	#buttonu441
	{
		top: 144px;
		width: 5.88%;
		max-width: 47px;
	}

	#buttonu441:hover
	{
		width: 5.88%;
		max-width: 47px;
	}

	#buttonu441.ButtonSelected
	{
		width: 5.88%;
		max-width: 47px;
	}

	#buttonu494
	{
		top: 209px;
		width: 6.38%;
		max-width: 51px;
	}

	#buttonu494:hover
	{
		width: 6.38%;
		max-width: 51px;
	}

	#buttonu522
	{
		top: 280px;
		width: 6.38%;
		max-width: 51px;
	}

	#buttonu494.ButtonSelected,#buttonu522:hover
	{
		width: 6.38%;
		max-width: 51px;
	}

	#u495_img,#u523_img
	{
		padding-right: 5px;
		width: 92.16%;
	}

	#buttonu549
	{
		top: 350px;
		width: 6.38%;
		max-width: 51px;
	}

	#buttonu522.ButtonSelected,#buttonu549:hover
	{
		width: 6.38%;
		max-width: 51px;
	}

	#u550_img
	{
		padding-right: 5px;
		width: 90.2%;
	}

	#buttonu586
	{
		top: 420px;
		width: 6.38%;
		max-width: 51px;
	}

	#buttonu549.ButtonSelected,#buttonu586:hover
	{
		width: 6.38%;
		max-width: 51px;
	}

	#buttonu586.ButtonSelected
	{
		width: 6.38%;
		max-width: 51px;
	}

	#u587_img
	{
		padding-right: 5px;
		padding-bottom: 5px;
		width: 92.16%;
	}

	#u2644
	{
		margin-left: 181.33333333333331px;
		width: 45.38%;
		max-width: 363px;
	}

	#pu195-4
	{
		padding-bottom: 106px;
		position: relative;
		left: -50%;
		margin-left: 181.33333333333331px;
		width: 100%;
		max-width: 363px;
	}

	#u195-4
	{
		margin-left: 181.33333333333331px;
		max-width: 363px;
	}

	#u195-4-wrapper
	{
		top: 465px;
		margin-left: -177px;
		width: 45.38%;
		max-width: 363px;
	}

	#u1370
	{
		margin-left: 170.3333333333333px;
		max-width: 341px;
	}

	#u1370-wrapper
	{
		margin-left: -170px;
		width: 42.63%;
		max-width: 341px;
	}

	#pu195-4-wrapper
	{
		position: fixed;
		top: 421px;
		left: 50%;
		margin-left: -177px;
		width: 45.38%;
		max-width: 363px;
	}

	#buttonu2600
	{
		margin-left: 77.66594827586209px;
		max-width: 153px;
	}

	#buttonu2600:hover
	{
		margin-left: 78px;
		max-width: 153px;
	}

	#buttonu2600.ButtonSelected
	{
		margin-left: 78px;
		max-width: 153px;
	}

	#u2602-4
	{
		width: 101.31%;
		left: 0.66%;
	}

	#buttonu2600:hover #u2602-4
	{
		width: 101.31%;
	}

	#buttonu2600.ButtonSelected #u2602-4
	{
		width: 101.31%;
	}

	#buttonu2600-wrapper
	{
		margin-left: -77px;
		width: 19.13%;
		max-width: 153px;
	}

	#u2644-wrapper
	{
		margin-left: -177px;
		width: 45.38%;
		max-width: 363px;
	}

	#style
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 2138px;
	}

	#u2338
	{
		-webkit-transform: matrix(0,1,-1,0,30,0);
		-ms-transform: matrix(0,1,-1,0,30,0);
		transform: matrix(0,1,-1,0,30,0);
		margin-left: 14.823529411764724px;
		max-width: 30px;
	}

	#u2338_img
	{
		width: 96.67%;
	}

	#u2338-wrapper
	{
		margin-left: -15px;
		width: 3.75%;
		max-width: 30px;
	}

	#u1844,#u1535
	{
		right: 20px;
	}

	#pamphletu1537
	{
		right: 62px;
	}

	#u1538
	{
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
	}

	#pu2501
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 1093px;
		margin-left: 740px;
	}

	#u2501
	{
		margin-left: 72px;
	}

	#pu2502-4,#u2504-4
	{
		margin-top: 17px;
	}

	#u2535
	{
		margin-left: 72px;
		margin-top: 18px;
	}

	#u2538-4
	{
		margin-top: 16px;
	}

	body
	{
		min-width: 320px;
	}

}

