body {
  display: block;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  display: block;
  margin: 20px auto 10px;
  font-family: 'Bebas Neue', sans-serif;
  color: #503e31;
  font-size: 31px;
  line-height: 44px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  margin-top: 14%;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-size: 45px;
  line-height: 61px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

a {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  float: right;
  -webkit-transition: all 2000ms ease;
  transition: all 2000ms ease;
  color: #fff;
  text-align: right;
}

a:hover {
  background-color: transparent;
  color: #503e31;
}

.projects-section {
  width: 100%;
  height: auto;
  background-color: #2c3e50;
}

.projects-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 0px 15px;
}

.projects-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.project-block {
  margin: 5px;
  padding: 2px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  border: 1px solid #ecf0f1;
}

.project-block._40 {
  position: relative;
  margin: 0px 2px 0px 28px;
  padding: 5px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  border: 1px solid #ecf0f1;
}

.project-side-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
}

.project-side-col._2 {
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.item {
  display: block;
  min-height: 200px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #ecf0f1;
  background-color: transparent;
}

.parent-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
}

.parent-div-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.item-2 {
  margin: 2px;
  padding: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #ecf0f1;
}

.mpvesta-site {
  position: static;
  display: inline-block;
  cursor: pointer;
}

.main-section {
  display: block;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.main-div {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.bg-video {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/overlay.png');
  background-position: 0px 0px;
  background-size: 3px 3px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
}

.nav-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  max-width: auto;
  background-color: rgba(0, 0, 0, .75);
}

.nav-bar-container {
  height: 60px;
  max-width: 940px;
  color: #ecf0f1;
}

.nav-bar-link {
  height: 60px;
  padding-top: 20px;
  float: right;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #ecf0f1;
  text-align: center;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.enru {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

.enru-img {
  width: 100%;
  height: 100%;
}

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 87%;
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-div-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.main-div-3 {
  display: block;
  margin: 20px auto 10px;
}

.main-h1 {
  width: 940px;
  margin-top: 0%;
  margin-bottom: 1%;
  padding-top: 1%;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #ecf0f1;
  font-size: 32px;
  font-weight: 300;
}

.main-h1._2 {
  color: #2c3e50;
}

.main-h1._3 {
  margin-bottom: 0%;
  color: #000;
}

.main-button {
  width: auto;
  height: auto;
  padding-right: 40px;
  padding-left: 40px;
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  background-color: #2c3e50;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #ecf0f1;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.light-box-bg {
  position: fixed;
  z-index: 1001;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .95);
}

.body {
  overflow: visible;
  margin-top: 0px;
}

.light-box {
  display: block;
  max-width: 700px;
  min-height: auto;
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #ecf0f1;
  background-color: #2c3e50;
}

.light-box-form {
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 3%;
}

.light-box-form-text {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #ecf0f1;
}

.close {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 25px;
  margin: -25px -25px 0px 0px;
  padding-right: 0px;
  float: right;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: rgba(236, 240, 241, .5);
  font-size: 50px;
  cursor: pointer;
}

.close:hover {
  color: #ecf0f1;
}

.close._2 {
  left: 0px;
  top: -283px;
  right: 0px;
  bottom: 0px;
}

.light-box-header-text {
  margin-bottom: 0%;
  padding-bottom: 0%;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #ecf0f1;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.light-box-button {
  display: block;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
  border: 2px solid #ecf0f1;
  background-color: #c0392b;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
}

.light-box-text-field {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.light-box-form-area {
  margin-top: 1%;
  margin-bottom: 1%;
}

.light-box-suggest-bg {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}

.light-box-error-bg {
  background-color: #c0392b;
}

.contacts-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1px;
  padding-left: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contacts-div-1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.contacts-div-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.contacts-child-div {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts-text {
  display: inline-block;
  margin-right: 0%;
  margin-left: 0%;
  padding-right: 0%;
  padding-left: 0%;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #666653;
}

.order-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.order-div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.order-text {
  margin-top: 12%;
  margin-bottom: 12%;
  padding-right: 1%;
  padding-left: 1%;
  float: right;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #ecf0f1;
  font-size: 24px;
  font-weight: 300;
}

.order-button {
  margin-top: 12%;
  margin-bottom: 12%;
  margin-left: 1%;
  padding: 0px 4%;
  float: left;
  border: 2px solid #ecf0f1;
  background-color: transparent;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #ecf0f1;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.web-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #7f8c8d;
}

.footer-section {
  width: 100%;
}

.contacts-div {
  width: 100%;
  max-width: 100%;
  background-color: #0f0f0c;
}

.leave-order-div {
  width: 100%;
  background-color: #30302a;
  -webkit-perspective: 900px;
  perspective: 900px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
}

.about-container {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: visible;
  height: 70%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
}

.imac-div {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 81%;
  height: 100%;
  background-image: url('../images/iMac.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.ipad-div {
  position: absolute;
  left: 12%;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 38%;
  height: 70%;
  background-image: url('../images/iPad.png');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.iphone-div {
  position: absolute;
  left: 8%;
  right: 0px;
  bottom: 0px;
  width: 20%;
  height: 45%;
  background-image: url('../images/iPhone.png');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-text {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #ecf0f1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.mobile-section {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: #adbec2;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.uiux-section {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #21b8c6;
}

.mobile-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-div-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-div-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-div-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-div-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-div-img {
  width: 100%;
  padding: 5px;
}

.mob-img {
  overflow: hidden;
  box-shadow: -3px 3px 11px 2px #000;
}

.ux-container {
  height: 90%;
  -webkit-perspective: 3000px;
  perspective: 3000px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
}

.ux-main-div {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 90%;
}

.ux-img-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ux-img-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ux-img-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ux-img-4 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.about-section {
  width: 100%;
  height: auto;
  max-width: auto;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.about-main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-wrap-div {
  width: 50%;
}

.mouse-img {
  display: block;
}

.link-block {
  margin-top: 1%;
}

.my-photo {
  display: block;
  width: 200px;
  height: 200px;
  margin: 3% auto;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(44, 62, 80, .5);
  border-radius: 264px;
}

.text {
  margin-bottom: 5%;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #2c3e50;
  font-size: 16px;
  text-align: center;
}

.text.bold {
  font-weight: 700;
}

.text._2 {
  margin-top: 0px;
  margin-bottom: 1%;
  font-style: italic;
}

.p {
  display: block;
  width: 90%;
  height: auto;
  margin: 5% auto;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: justify;
}

.social-main-div {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.soc-div {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}

.soc-div.vk {
  width: 45px;
  margin-right: auto;
  padding-right: 0px;
}

.soc-div.be {
  height: 43px;
}

.img_fb {
  display: block;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

.soc-link-block {
  width: 48px;
  height: 40px;
  margin-bottom: 16px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.my-soc-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-right: auto;
  margin-bottom: 2%;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.my-soc-linkblock {
  width: auto;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.simg {
  width: 40px;
  height: auto;
}

.map-div {
  margin-bottom: 1%;
}

.copyright-div {
  background-color: #000;
}

.copyright-text {
  position: relative;
  z-index: 1111;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #ecf0f1;
  text-align: center;
}

.portfolio-link {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  padding-right: 0px;
  padding-left: 0px;
}

.lastproject-div {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, rgba(44, 62, 80, .74), rgba(44, 62, 80, .74));
  background-image: linear-gradient(180deg, rgba(44, 62, 80, .74), rgba(44, 62, 80, .74));
}

.last-project-h2 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 400;
}

.lastproject-text {
  color: #ecf0f1;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.lbox2-bg {
  position: fixed;
  z-index: 1111;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .95);
}

.lbox2-bg-show {
  position: fixed;
  z-index: 1111;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .95);
}

.lbox2-container {
  height: 100%;
  margin-top: 8%;
}

.lbox2 {
  display: block;
  max-width: 700px;
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
  padding: 0%;
  border: 2px solid #ecf0f1;
  background-color: #2c3e50;
}

.lboxform2 {
  margin-bottom: 0px;
  padding: 3%;
}

.lboxform2area {
  margin-top: 1%;
  margin-bottom: 1%;
}

.lbox2headertext {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #ecf0f1;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.lbox2formtext {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #ecf0f1;
  text-transform: uppercase;
}

.lbox2textfield {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.lbox2button {
  display: block;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
  border: 2px solid #ecf0f1;
  background-color: #c0392b;
  color: #ecf0f1;
  text-transform: uppercase;
}

.ups {
  background-color: #ecf0f1;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #c0392b;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.workinprogress {
  cursor: pointer;
}

.map {
  width: 100%;
  max-width: 940px;
}

html.w-mod-js *[data-ix="mobile-rows-rotate"] {
  opacity: 0;
  -webkit-transform: rotate(-35deg) translate(0px, 70%);
  -ms-transform: rotate(-35deg) translate(0px, 70%);
  transform: rotate(-35deg) translate(0px, 70%);
}

html.w-mod-js *[data-ix="move-at-left"] {
  opacity: 0;
  -webkit-transform: translate(-400px, 0px);
  -ms-transform: translate(-400px, 0px);
  transform: translate(-400px, 0px);
}

html.w-mod-js *[data-ix="stand-effect"] {
  opacity: 0;
  -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

html.w-mod-js *[data-ix="stand-effect-2"] {
  opacity: 0;
  -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

html.w-mod-js *[data-ix="stand-effect-3"] {
  opacity: 0;
  -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

html.w-mod-js *[data-ix="stand-effect-4"] {
  opacity: 0;
  -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

html.w-mod-js *[data-ix="text-appear"] {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

html.w-mod-js *[data-ix="navbar-appear"] {
  opacity: 0;
  -webkit-transform: translate(0px, -60px);
  -ms-transform: translate(0px, -60px);
  transform: translate(0px, -60px);
}

html.w-mod-js *[data-ix="soc-buttons"] {
  opacity: 0;
  -webkit-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}

html.w-mod-js *[data-ix="soc-buttons-2"] {
  opacity: 0;
  -webkit-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}

html.w-mod-js *[data-ix="soc-buttons-3"] {
  opacity: 0;
  -webkit-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}

html.w-mod-js *[data-ix="soc-buttons-4"] {
  opacity: 0;
  -webkit-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}

html.w-mod-js *[data-ix="soc-buttons-5"] {
  opacity: 0;
  -webkit-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}

html.w-mod-js *[data-ix="soc-buttons-6"] {
  opacity: 0;
  -webkit-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}

html.w-mod-js *[data-ix="soc-buttons-7"] {
  opacity: 0;
  -webkit-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}

html.w-mod-js *[data-ix="photo-appear"] {
  opacity: 0;
  -webkit-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}

html.w-mod-js *[data-ix="text-from-left"] {
  opacity: 0;
  -webkit-transform: translate(-200px, 0px);
  -ms-transform: translate(-200px, 0px);
  transform: translate(-200px, 0px);
}

html.w-mod-js *[data-ix="text-from-bottom"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

@media (max-width: 991px) {
  .project-block._40 {
    margin-left: 23px;
  }
  .nav-bar {
    height: 60px;
  }
  .nav-bar-link {
    height: 60px;
    padding-top: 20px;
  }
  .brand {
    height: 40px;
    margin-top: 10px;
  }
  .menu-button {
    height: 60px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .menu-button.w--open {
    border: 1px solid #ecf0f1;
    background-color: #f39c12;
  }
  .open-menu {
    height: 60px;
    background-color: rgba(0, 0, 0, .75);
  }
  .enru {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 25px;
  }
  .main-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .main-div-1 {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .main-h1 {
    width: auto;
    font-size: 28px;
  }
  .children-div-1 {
    width: 600px;
  }
  .light-box-bg {
    display: none;
  }
  .light-box {
    display: block;
    margin-right: 5%;
    margin-left: 5%;
  }
  .light-box-header-text {
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-size: 19px;
  }
  .light-box-suggest-bg {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .contacts-text {
    padding-right: 2%;
    padding-left: 2%;
    color: #49493d;
    font-size: 12px;
  }
  .order-button {
    padding-right: 3%;
    padding-left: 3%;
  }
  .my-soc-div {
    margin-top: 5px;
    padding: 5px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .my-soc-linkblock {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media (max-width: 767px) {
  .projects-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .project-block._40 {
    display: block;
    margin-left: 2px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .project-side-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .project-side-col._2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .parent-div {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .mpvesta-site {
    display: block;
  }
  .nav-bar {
    height: 50px;
  }
  .nav-bar-container {
    height: 50px;
  }
  .nav-bar-link {
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
  }
  .brand {
    width: 150px;
    height: 30px;
    margin-left: 20px;
  }
  .menu-button {
    height: 50px;
    padding-top: 15px;
  }
  .menu-button.w--open {
    width: auto;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .open-menu {
    height: 50px;
  }
  .enru {
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
  .main-container {
    height: 80%;
  }
  .main-div-1 {
    height: 12%;
    margin-top: 0%;
    margin-bottom: 0%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .main-div-2 {
    margin-bottom: 1%;
  }
  .main-div-3 {
    margin-top: 1%;
    margin-bottom: 5%;
  }
  .main-h1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
  }
  .children-div-1 {
    width: 350px;
    margin-bottom: 0%;
  }
  .light-box-bg {
    display: none;
  }
  .light-box {
    margin: 6% 6% 6px;
  }
  .light-box-header-text {
    font-size: 14px;
  }
  .contacts-text {
    font-size: 12px;
    line-height: 16px;
  }
  .order-text {
    font-size: 18px;
  }
  .order-button {
    padding-right: 2%;
    padding-left: 2%;
    font-size: 18px;
  }
  .web-section {
    height: auto;
  }
  .about-container {
    height: 260px;
    padding-right: 10%;
    padding-left: 10%;
  }
  .imac-div {
    left: 30%;
    top: 0px;
    right: 0%;
    bottom: 0px;
    width: 49%;
    height: 100%;
  }
  .ipad-div {
    left: 24%;
    width: 26%;
  }
  .iphone-div {
    left: 20%;
    width: 14%;
    height: 50%;
  }
  .about-text {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 16px;
  }
  .mobile-section {
    height: auto;
  }
  .about-section {
    height: auto;
  }
  .about-main-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .about-wrap-div {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .link-block {
    margin-top: 0%;
    margin-bottom: 2%;
  }
  .my-photo {
    width: 150px;
    height: 150px;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .text {
    font-size: 12px;
  }
  .p {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 12px;
    line-height: 16px;
  }
  .social-main-div {
    display: none;
    width: 60px;
  }
  .soc-link-block {
    width: 38px;
    height: 30px;
  }
}

@media (max-width: 479px) {
  .project-side-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .project-side-col._2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .parent-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav-bar {
    height: 40px;
  }
  .nav-bar-container {
    height: 40px;
  }
  .nav-bar-link {
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 8px;
  }
  .brand {
    width: 100px;
    height: 20px;
  }
  .menu-button {
    height: 40px;
    padding-top: 10px;
  }
  .menu-button.w--open {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .open-menu {
    height: 40px;
  }
  .enru {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-left: 10px;
  }
  .main-div-1 {
    margin-bottom: 0px;
  }
  .main-h1 {
    margin-top: 0px;
    font-size: 15px;
  }
  .children-div-1 {
    width: 300px;
  }
  .light-box-bg {
    display: none;
  }
  .light-box {
    margin-top: 8%;
    margin-right: 8%;
    margin-left: 8%;
  }
  .light-box-form-text {
    margin-bottom: 2px;
    font-size: 9px;
  }
  .close {
    margin-top: -20px;
    margin-right: -20px;
    font-size: 40px;
  }
  .light-box-header-text {
    font-size: 12px;
    line-height: 18px;
  }
  .light-box-button {
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
  }
  .light-box-text-field {
    height: 25px;
    font-size: 10px;
  }
  .contacts-div-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts-child-div {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .contacts-text {
    line-height: 14px;
  }
  .order-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .order-div {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
  }
  .order-text {
    font-size: 15px;
    line-height: 27px;
  }
  .order-button {
    margin-top: 1%;
    margin-bottom: 7%;
    margin-left: auto;
    padding-right: 4%;
    padding-left: 4%;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
  }
  .about-container {
    height: 350px;
  }
  .imac-div {
    left: 16%;
    top: 0px;
    right: 0%;
    bottom: 0px;
    width: 85%;
    height: 100%;
  }
  .ipad-div {
    left: 4%;
    width: 60%;
    height: 70%;
  }
  .iphone-div {
    left: 3%;
    width: 35%;
    height: 50%;
  }
  .about-text {
    padding-right: 15px;
    padding-left: 15px;
  }
  .uiux-section {
    height: 100%;
  }
  .mobile-container {
    margin-top: 20px;
  }
  .about-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-wrap-div {
    width: 100%;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .my-photo {
    width: 100px;
    height: 100px;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .p {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .social-main-div {
    display: none;
  }
}

@font-face {
  font-family: 'Ticker tape';
  src: url('../fonts/6427565.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Terminator';
  src: url('../fonts/7377392.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bauhaus';
  src: url('../fonts/bauhauslightctt.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Cond Caps';
  src: url('../fonts/kPKdhZX5.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KelsonSans';
  src: url('../fonts/48IV4Tsx.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bH4blLf6.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/jSy41egP.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}